<div class="col-12 col-sm-2">
    <p><img class="mugshot" src="{{ mugshot }}" /></p>
    <h2 class="font-thin">{{ month }} <br/><span class="font-semibold">{{ day }} </span></h2>
    <h4 class="font-thin">Speaker <span class="font-semibold" ><br /><a href="{{ twitter }} "> {{ speaker }} </a></span></h4>
    <p>{{ topic }} </p>
</div><!-- /col12 -->
